<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>a</key>
    <string>a.glif</string>
    <key>a.alt1</key>
    <string>a.alt1.glif</string>
    <key>a.alt1.ss01</key>
    <string>a.alt1.ss01.glif</string>
    <key>a.alt1.ss02</key>
    <string>a.alt1.ss02.glif</string>
    <key>a.alt2</key>
    <string>a.alt2.glif</string>
    <key>a.alt2.ss01</key>
    <string>a.alt2.ss01.glif</string>
    <key>a.alt2.ss02</key>
    <string>a.alt2.ss02.glif</string>
    <key>a.ss01</key>
    <string>a.ss01.glif</string>
    <key>a.ss02</key>
    <string>a.ss02.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>aacute.ss01</key>
    <string>aacute.ss01.glif</string>
    <key>aacute.ss02</key>
    <string>aacute.ss02.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>agrave.ss01</key>
    <string>agrave.ss01.glif</string>
    <key>agrave.ss02</key>
    <string>agrave.ss02.glif</string>
    <key>arrowdown</key>
    <string>arrowdown.glif</string>
    <key>arrowdown.ss01</key>
    <string>arrowdown.ss01.glif</string>
    <key>arrowdown.ss02</key>
    <string>arrowdown.ss02.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>arrowleft.ss01</key>
    <string>arrowleft.ss01.glif</string>
    <key>arrowleft.ss02</key>
    <string>arrowleft.ss02.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>arrowright.ss01</key>
    <string>arrowright.ss01.glif</string>
    <key>arrowright.ss02</key>
    <string>arrowright.ss02.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif</string>
    <key>arrowup.ss01</key>
    <string>arrowup.ss01.glif</string>
    <key>arrowup.ss02</key>
    <string>arrowup.ss02.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.alt1</key>
    <string>b.alt1.glif</string>
    <key>b.alt1.ss01</key>
    <string>b.alt1.ss01.glif</string>
    <key>b.alt1.ss02</key>
    <string>b.alt1.ss02.glif</string>
    <key>b.alt2</key>
    <string>b.alt2.glif</string>
    <key>b.alt2.ss01</key>
    <string>b.alt2.ss01.glif</string>
    <key>b.alt2.ss02</key>
    <string>b.alt2.ss02.glif</string>
    <key>b.alt3</key>
    <string>b.alt3.glif</string>
    <key>b.alt3.ss01</key>
    <string>b.alt3.ss01.glif</string>
    <key>b.alt3.ss02</key>
    <string>b.alt3.ss02.glif</string>
    <key>b.ss01</key>
    <string>b.ss01.glif</string>
    <key>b.ss02</key>
    <string>b.ss02.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.alt1</key>
    <string>c.alt1.glif</string>
    <key>c.alt1.ss01</key>
    <string>c.alt1.ss01.glif</string>
    <key>c.alt1.ss02</key>
    <string>c.alt1.ss02.glif</string>
    <key>c.alt2</key>
    <string>c.alt2.glif</string>
    <key>c.alt2.ss01</key>
    <string>c.alt2.ss01.glif</string>
    <key>c.alt2.ss02</key>
    <string>c.alt2.ss02.glif</string>
    <key>c.alt3</key>
    <string>c.alt3.glif</string>
    <key>c.alt3.ss01</key>
    <string>c.alt3.ss01.glif</string>
    <key>c.alt3.ss02</key>
    <string>c.alt3.ss02.glif</string>
    <key>c.ss01</key>
    <string>c.ss01.glif</string>
    <key>c.ss02</key>
    <string>c.ss02.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colon.ss01</key>
    <string>colon.ss01.glif</string>
    <key>colon.ss02</key>
    <string>colon.ss02.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>comma.ss01</key>
    <string>comma.ss01.glif</string>
    <key>comma.ss02</key>
    <string>comma.ss02.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.alt1</key>
    <string>d.alt1.glif</string>
    <key>d.alt1.ss01</key>
    <string>d.alt1.ss01.glif</string>
    <key>d.alt1.ss02</key>
    <string>d.alt1.ss02.glif</string>
    <key>d.alt2</key>
    <string>d.alt2.glif</string>
    <key>d.alt2.ss01</key>
    <string>d.alt2.ss01.glif</string>
    <key>d.alt2.ss02</key>
    <string>d.alt2.ss02.glif</string>
    <key>d.alt3</key>
    <string>d.alt3.glif</string>
    <key>d.alt3.ss01</key>
    <string>d.alt3.ss01.glif</string>
    <key>d.alt3.ss02</key>
    <string>d.alt3.ss02.glif</string>
    <key>d.alt4</key>
    <string>d.alt4.glif</string>
    <key>d.alt4.ss01</key>
    <string>d.alt4.ss01.glif</string>
    <key>d.alt4.ss02</key>
    <string>d.alt4.ss02.glif</string>
    <key>d.alt5</key>
    <string>d.alt5.glif</string>
    <key>d.alt5.ss01</key>
    <string>d.alt5.ss01.glif</string>
    <key>d.alt5.ss02</key>
    <string>d.alt5.ss02.glif</string>
    <key>d.ss01</key>
    <string>d.ss01.glif</string>
    <key>d.ss02</key>
    <string>d.ss02.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.alt1</key>
    <string>e.alt1.glif</string>
    <key>e.alt1.ss01</key>
    <string>e.alt1.ss01.glif</string>
    <key>e.alt1.ss02</key>
    <string>e.alt1.ss02.glif</string>
    <key>e.alt2</key>
    <string>e.alt2.glif</string>
    <key>e.alt2.ss01</key>
    <string>e.alt2.ss01.glif</string>
    <key>e.alt2.ss02</key>
    <string>e.alt2.ss02.glif</string>
    <key>e.alt3</key>
    <string>e.alt3.glif</string>
    <key>e.alt3.ss01</key>
    <string>e.alt3.ss01.glif</string>
    <key>e.alt3.ss02</key>
    <string>e.alt3.ss02.glif</string>
    <key>e.alt4</key>
    <string>e.alt4.glif</string>
    <key>e.alt4.ss01</key>
    <string>e.alt4.ss01.glif</string>
    <key>e.alt4.ss02</key>
    <string>e.alt4.ss02.glif</string>
    <key>e.ss01</key>
    <string>e.ss01.glif</string>
    <key>e.ss02</key>
    <string>e.ss02.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>eacute.ss01</key>
    <string>eacute.ss01.glif</string>
    <key>eacute.ss02</key>
    <string>eacute.ss02.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>egrave.ss01</key>
    <string>egrave.ss01.glif</string>
    <key>egrave.ss02</key>
    <string>egrave.ss02.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.alt1</key>
    <string>eight.alt1.glif</string>
    <key>eight.alt1.ss01</key>
    <string>eight.alt1.ss01.glif</string>
    <key>eight.alt1.ss02</key>
    <string>eight.alt1.ss02.glif</string>
    <key>eight.ss01</key>
    <string>eight.ss01.glif</string>
    <key>eight.ss02</key>
    <string>eight.ss02.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclam.ss01</key>
    <string>exclam.ss01.glif</string>
    <key>exclam.ss02</key>
    <string>exclam.ss02.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.alt1</key>
    <string>f.alt1.glif</string>
    <key>f.alt1.ss01</key>
    <string>f.alt1.ss01.glif</string>
    <key>f.alt1.ss02</key>
    <string>f.alt1.ss02.glif</string>
    <key>f.alt2</key>
    <string>f.alt2.glif</string>
    <key>f.alt2.ss01</key>
    <string>f.alt2.ss01.glif</string>
    <key>f.alt2.ss02</key>
    <string>f.alt2.ss02.glif</string>
    <key>f.alt3</key>
    <string>f.alt3.glif</string>
    <key>f.alt3.ss01</key>
    <string>f.alt3.ss01.glif</string>
    <key>f.alt3.ss02</key>
    <string>f.alt3.ss02.glif</string>
    <key>f.ss01</key>
    <string>f.ss01.glif</string>
    <key>f.ss02</key>
    <string>f.ss02.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.ss01</key>
    <string>five.ss01.glif</string>
    <key>five.ss02</key>
    <string>five.ss02.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.alt1</key>
    <string>four.alt1.glif</string>
    <key>four.alt1.ss01</key>
    <string>four.alt1.ss01.glif</string>
    <key>four.alt1.ss02</key>
    <string>four.alt1.ss02.glif</string>
    <key>four.ss01</key>
    <string>four.ss01.glif</string>
    <key>four.ss02</key>
    <string>four.ss02.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.alt1</key>
    <string>g.alt1.glif</string>
    <key>g.alt1.ss01</key>
    <string>g.alt1.ss01.glif</string>
    <key>g.alt1.ss02</key>
    <string>g.alt1.ss02.glif</string>
    <key>g.alt2</key>
    <string>g.alt2.glif</string>
    <key>g.alt2.ss01</key>
    <string>g.alt2.ss01.glif</string>
    <key>g.alt2.ss02</key>
    <string>g.alt2.ss02.glif</string>
    <key>g.alt3</key>
    <string>g.alt3.glif</string>
    <key>g.alt3.ss01</key>
    <string>g.alt3.ss01.glif</string>
    <key>g.alt3.ss02</key>
    <string>g.alt3.ss02.glif</string>
    <key>g.alt4</key>
    <string>g.alt4.glif</string>
    <key>g.alt4.ss01</key>
    <string>g.alt4.ss01.glif</string>
    <key>g.alt4.ss02</key>
    <string>g.alt4.ss02.glif</string>
    <key>g.ss01</key>
    <string>g.ss01.glif</string>
    <key>g.ss02</key>
    <string>g.ss02.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.alt1</key>
    <string>h.alt1.glif</string>
    <key>h.alt1.ss01</key>
    <string>h.alt1.ss01.glif</string>
    <key>h.alt1.ss02</key>
    <string>h.alt1.ss02.glif</string>
    <key>h.alt2</key>
    <string>h.alt2.glif</string>
    <key>h.alt2.ss01</key>
    <string>h.alt2.ss01.glif</string>
    <key>h.alt2.ss02</key>
    <string>h.alt2.ss02.glif</string>
    <key>h.ss01</key>
    <string>h.ss01.glif</string>
    <key>h.ss02</key>
    <string>h.ss02.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.ss01</key>
    <string>hyphen.ss01.glif</string>
    <key>hyphen.ss02</key>
    <string>hyphen.ss02.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.alt1</key>
    <string>i.alt1.glif</string>
    <key>i.alt1.ss01</key>
    <string>i.alt1.ss01.glif</string>
    <key>i.alt1.ss02</key>
    <string>i.alt1.ss02.glif</string>
    <key>i.alt2</key>
    <string>i.alt2.glif</string>
    <key>i.alt2.ss01</key>
    <string>i.alt2.ss01.glif</string>
    <key>i.alt2.ss02</key>
    <string>i.alt2.ss02.glif</string>
    <key>i.alt3</key>
    <string>i.alt3.glif</string>
    <key>i.alt3.ss01</key>
    <string>i.alt3.ss01.glif</string>
    <key>i.alt3.ss02</key>
    <string>i.alt3.ss02.glif</string>
    <key>i.alt4</key>
    <string>i.alt4.glif</string>
    <key>i.alt4.ss01</key>
    <string>i.alt4.ss01.glif</string>
    <key>i.alt4.ss02</key>
    <string>i.alt4.ss02.glif</string>
    <key>i.ss01</key>
    <string>i.ss01.glif</string>
    <key>i.ss02</key>
    <string>i.ss02.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>iacute.ss01</key>
    <string>iacute.ss01.glif</string>
    <key>iacute.ss02</key>
    <string>iacute.ss02.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>igrave.ss01</key>
    <string>igrave.ss01.glif</string>
    <key>igrave.ss02</key>
    <string>igrave.ss02.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.alt1</key>
    <string>j.alt1.glif</string>
    <key>j.alt1.ss01</key>
    <string>j.alt1.ss01.glif</string>
    <key>j.alt1.ss02</key>
    <string>j.alt1.ss02.glif</string>
    <key>j.alt2</key>
    <string>j.alt2.glif</string>
    <key>j.alt2.ss01</key>
    <string>j.alt2.ss01.glif</string>
    <key>j.alt2.ss02</key>
    <string>j.alt2.ss02.glif</string>
    <key>j.ss01</key>
    <string>j.ss01.glif</string>
    <key>j.ss02</key>
    <string>j.ss02.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.alt1</key>
    <string>k.alt1.glif</string>
    <key>k.alt1.ss01</key>
    <string>k.alt1.ss01.glif</string>
    <key>k.alt1.ss02</key>
    <string>k.alt1.ss02.glif</string>
    <key>k.alt2</key>
    <string>k.alt2.glif</string>
    <key>k.alt2.ss01</key>
    <string>k.alt2.ss01.glif</string>
    <key>k.alt2.ss02</key>
    <string>k.alt2.ss02.glif</string>
    <key>k.ss01</key>
    <string>k.ss01.glif</string>
    <key>k.ss02</key>
    <string>k.ss02.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.alt1</key>
    <string>l.alt1.glif</string>
    <key>l.alt1.ss01</key>
    <string>l.alt1.ss01.glif</string>
    <key>l.alt1.ss02</key>
    <string>l.alt1.ss02.glif</string>
    <key>l.alt2</key>
    <string>l.alt2.glif</string>
    <key>l.alt2.ss01</key>
    <string>l.alt2.ss01.glif</string>
    <key>l.alt2.ss02</key>
    <string>l.alt2.ss02.glif</string>
    <key>l.alt3</key>
    <string>l.alt3.glif</string>
    <key>l.alt3.ss01</key>
    <string>l.alt3.ss01.glif</string>
    <key>l.alt3.ss02</key>
    <string>l.alt3.ss02.glif</string>
    <key>l.alt4</key>
    <string>l.alt4.glif</string>
    <key>l.alt4.ss01</key>
    <string>l.alt4.ss01.glif</string>
    <key>l.alt4.ss02</key>
    <string>l.alt4.ss02.glif</string>
    <key>l.ss01</key>
    <string>l.ss01.glif</string>
    <key>l.ss02</key>
    <string>l.ss02.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.alt1</key>
    <string>m.alt1.glif</string>
    <key>m.alt1.ss01</key>
    <string>m.alt1.ss01.glif</string>
    <key>m.alt1.ss02</key>
    <string>m.alt1.ss02.glif</string>
    <key>m.alt2</key>
    <string>m.alt2.glif</string>
    <key>m.alt2.ss01</key>
    <string>m.alt2.ss01.glif</string>
    <key>m.alt2.ss02</key>
    <string>m.alt2.ss02.glif</string>
    <key>m.alt3</key>
    <string>m.alt3.glif</string>
    <key>m.alt3.ss01</key>
    <string>m.alt3.ss01.glif</string>
    <key>m.alt3.ss02</key>
    <string>m.alt3.ss02.glif</string>
    <key>m.alt4</key>
    <string>m.alt4.glif</string>
    <key>m.alt4.ss01</key>
    <string>m.alt4.ss01.glif</string>
    <key>m.alt4.ss02</key>
    <string>m.alt4.ss02.glif</string>
    <key>m.ss01</key>
    <string>m.ss01.glif</string>
    <key>m.ss02</key>
    <string>m.ss02.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.alt1</key>
    <string>n.alt1.glif</string>
    <key>n.alt1.ss01</key>
    <string>n.alt1.ss01.glif</string>
    <key>n.alt1.ss02</key>
    <string>n.alt1.ss02.glif</string>
    <key>n.alt2</key>
    <string>n.alt2.glif</string>
    <key>n.alt2.ss01</key>
    <string>n.alt2.ss01.glif</string>
    <key>n.alt2.ss02</key>
    <string>n.alt2.ss02.glif</string>
    <key>n.alt3</key>
    <string>n.alt3.glif</string>
    <key>n.alt3.ss01</key>
    <string>n.alt3.ss01.glif</string>
    <key>n.alt3.ss02</key>
    <string>n.alt3.ss02.glif</string>
    <key>n.ss01</key>
    <string>n.ss01.glif</string>
    <key>n.ss02</key>
    <string>n.ss02.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.alt1</key>
    <string>nine.alt1.glif</string>
    <key>nine.alt1.ss01</key>
    <string>nine.alt1.ss01.glif</string>
    <key>nine.alt1.ss02</key>
    <string>nine.alt1.ss02.glif</string>
    <key>nine.alt2</key>
    <string>nine.alt2.glif</string>
    <key>nine.alt2.ss01</key>
    <string>nine.alt2.ss01.glif</string>
    <key>nine.alt2.ss02</key>
    <string>nine.alt2.ss02.glif</string>
    <key>nine.ss01</key>
    <string>nine.ss01.glif</string>
    <key>nine.ss02</key>
    <string>nine.ss02.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.alt1</key>
    <string>o.alt1.glif</string>
    <key>o.alt1.ss01</key>
    <string>o.alt1.ss01.glif</string>
    <key>o.alt1.ss02</key>
    <string>o.alt1.ss02.glif</string>
    <key>o.alt2</key>
    <string>o.alt2.glif</string>
    <key>o.alt2.ss01</key>
    <string>o.alt2.ss01.glif</string>
    <key>o.alt2.ss02</key>
    <string>o.alt2.ss02.glif</string>
    <key>o.alt3</key>
    <string>o.alt3.glif</string>
    <key>o.alt3.ss01</key>
    <string>o.alt3.ss01.glif</string>
    <key>o.alt3.ss02</key>
    <string>o.alt3.ss02.glif</string>
    <key>o.alt4</key>
    <string>o.alt4.glif</string>
    <key>o.alt4.ss01</key>
    <string>o.alt4.ss01.glif</string>
    <key>o.alt4.ss02</key>
    <string>o.alt4.ss02.glif</string>
    <key>o.alt5</key>
    <string>o.alt5.glif</string>
    <key>o.alt5.ss01</key>
    <string>o.alt5.ss01.glif</string>
    <key>o.alt5.ss02</key>
    <string>o.alt5.ss02.glif</string>
    <key>o.ss01</key>
    <string>o.ss01.glif</string>
    <key>o.ss02</key>
    <string>o.ss02.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>oacute.ss01</key>
    <string>oacute.ss01.glif</string>
    <key>oacute.ss02</key>
    <string>oacute.ss02.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ograve.ss01</key>
    <string>ograve.ss01.glif</string>
    <key>ograve.ss02</key>
    <string>ograve.ss02.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.alt1</key>
    <string>one.alt1.glif</string>
    <key>one.alt1.ss01</key>
    <string>one.alt1.ss01.glif</string>
    <key>one.alt1.ss02</key>
    <string>one.alt1.ss02.glif</string>
    <key>one.alt2</key>
    <string>one.alt2.glif</string>
    <key>one.alt2.ss01</key>
    <string>one.alt2.ss01.glif</string>
    <key>one.alt2.ss02</key>
    <string>one.alt2.ss02.glif</string>
    <key>one.alt3</key>
    <string>one.alt3.glif</string>
    <key>one.alt3.ss01</key>
    <string>one.alt3.ss01.glif</string>
    <key>one.alt3.ss02</key>
    <string>one.alt3.ss02.glif</string>
    <key>one.alt4</key>
    <string>one.alt4.glif</string>
    <key>one.alt4.ss01</key>
    <string>one.alt4.ss01.glif</string>
    <key>one.alt4.ss02</key>
    <string>one.alt4.ss02.glif</string>
    <key>one.alt5</key>
    <string>one.alt5.glif</string>
    <key>one.alt5.ss01</key>
    <string>one.alt5.ss01.glif</string>
    <key>one.alt5.ss02</key>
    <string>one.alt5.ss02.glif</string>
    <key>one.alt6</key>
    <string>one.alt6.glif</string>
    <key>one.alt6.ss01</key>
    <string>one.alt6.ss01.glif</string>
    <key>one.alt6.ss02</key>
    <string>one.alt6.ss02.glif</string>
    <key>one.ss01</key>
    <string>one.ss01.glif</string>
    <key>one.ss02</key>
    <string>one.ss02.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.alt1</key>
    <string>p.alt1.glif</string>
    <key>p.alt1.ss01</key>
    <string>p.alt1.ss01.glif</string>
    <key>p.alt1.ss02</key>
    <string>p.alt1.ss02.glif</string>
    <key>p.alt2</key>
    <string>p.alt2.glif</string>
    <key>p.alt2.ss01</key>
    <string>p.alt2.ss01.glif</string>
    <key>p.alt2.ss02</key>
    <string>p.alt2.ss02.glif</string>
    <key>p.alt3</key>
    <string>p.alt3.glif</string>
    <key>p.alt3.ss01</key>
    <string>p.alt3.ss01.glif</string>
    <key>p.alt3.ss02</key>
    <string>p.alt3.ss02.glif</string>
    <key>p.alt4</key>
    <string>p.alt4.glif</string>
    <key>p.alt4.ss01</key>
    <string>p.alt4.ss01.glif</string>
    <key>p.alt4.ss02</key>
    <string>p.alt4.ss02.glif</string>
    <key>p.alt5</key>
    <string>p.alt5.glif</string>
    <key>p.alt5.ss01</key>
    <string>p.alt5.ss01.glif</string>
    <key>p.alt5.ss02</key>
    <string>p.alt5.ss02.glif</string>
    <key>p.ss01</key>
    <string>p.ss01.glif</string>
    <key>p.ss02</key>
    <string>p.ss02.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>period.ss01</key>
    <string>period.ss01.glif</string>
    <key>period.ss02</key>
    <string>period.ss02.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.alt1</key>
    <string>q.alt1.glif</string>
    <key>q.alt1.ss01</key>
    <string>q.alt1.ss01.glif</string>
    <key>q.alt1.ss02</key>
    <string>q.alt1.ss02.glif</string>
    <key>q.alt2</key>
    <string>q.alt2.glif</string>
    <key>q.alt2.ss01</key>
    <string>q.alt2.ss01.glif</string>
    <key>q.alt2.ss02</key>
    <string>q.alt2.ss02.glif</string>
    <key>q.alt3</key>
    <string>q.alt3.glif</string>
    <key>q.alt3.ss01</key>
    <string>q.alt3.ss01.glif</string>
    <key>q.alt3.ss02</key>
    <string>q.alt3.ss02.glif</string>
    <key>q.ss01</key>
    <string>q.ss01.glif</string>
    <key>q.ss02</key>
    <string>q.ss02.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question.ss01</key>
    <string>question.ss01.glif</string>
    <key>question.ss02</key>
    <string>question.ss02.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>quotesingle.ss01</key>
    <string>quotesingle.ss01.glif</string>
    <key>quotesingle.ss02</key>
    <string>quotesingle.ss02.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.alt1</key>
    <string>r.alt1.glif</string>
    <key>r.alt1.ss01</key>
    <string>r.alt1.ss01.glif</string>
    <key>r.alt1.ss02</key>
    <string>r.alt1.ss02.glif</string>
    <key>r.alt2</key>
    <string>r.alt2.glif</string>
    <key>r.alt2.ss01</key>
    <string>r.alt2.ss01.glif</string>
    <key>r.alt2.ss02</key>
    <string>r.alt2.ss02.glif</string>
    <key>r.alt3</key>
    <string>r.alt3.glif</string>
    <key>r.alt3.ss01</key>
    <string>r.alt3.ss01.glif</string>
    <key>r.alt3.ss02</key>
    <string>r.alt3.ss02.glif</string>
    <key>r.alt4</key>
    <string>r.alt4.glif</string>
    <key>r.alt4.ss01</key>
    <string>r.alt4.ss01.glif</string>
    <key>r.alt4.ss02</key>
    <string>r.alt4.ss02.glif</string>
    <key>r.alt5</key>
    <string>r.alt5.glif</string>
    <key>r.alt5.ss01</key>
    <string>r.alt5.ss01.glif</string>
    <key>r.alt5.ss02</key>
    <string>r.alt5.ss02.glif</string>
    <key>r.ss01</key>
    <string>r.ss01.glif</string>
    <key>r.ss02</key>
    <string>r.ss02.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.alt1</key>
    <string>s.alt1.glif</string>
    <key>s.alt1.ss01</key>
    <string>s.alt1.ss01.glif</string>
    <key>s.alt1.ss02</key>
    <string>s.alt1.ss02.glif</string>
    <key>s.alt2</key>
    <string>s.alt2.glif</string>
    <key>s.alt2.ss01</key>
    <string>s.alt2.ss01.glif</string>
    <key>s.alt2.ss02</key>
    <string>s.alt2.ss02.glif</string>
    <key>s.alt3</key>
    <string>s.alt3.glif</string>
    <key>s.alt3.ss01</key>
    <string>s.alt3.ss01.glif</string>
    <key>s.alt3.ss02</key>
    <string>s.alt3.ss02.glif</string>
    <key>s.alt4</key>
    <string>s.alt4.glif</string>
    <key>s.alt4.ss01</key>
    <string>s.alt4.ss01.glif</string>
    <key>s.alt4.ss02</key>
    <string>s.alt4.ss02.glif</string>
    <key>s.ss01</key>
    <string>s.ss01.glif</string>
    <key>s.ss02</key>
    <string>s.ss02.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>semicolon.ss01</key>
    <string>semicolon.ss01.glif</string>
    <key>semicolon.ss02</key>
    <string>semicolon.ss02.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.alt1</key>
    <string>seven.alt1.glif</string>
    <key>seven.alt1.ss01</key>
    <string>seven.alt1.ss01.glif</string>
    <key>seven.alt1.ss02</key>
    <string>seven.alt1.ss02.glif</string>
    <key>seven.alt2</key>
    <string>seven.alt2.glif</string>
    <key>seven.alt2.ss01</key>
    <string>seven.alt2.ss01.glif</string>
    <key>seven.alt2.ss02</key>
    <string>seven.alt2.ss02.glif</string>
    <key>seven.ss01</key>
    <string>seven.ss01.glif</string>
    <key>seven.ss02</key>
    <string>seven.ss02.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.alt1</key>
    <string>six.alt1.glif</string>
    <key>six.alt1.ss01</key>
    <string>six.alt1.ss01.glif</string>
    <key>six.alt1.ss02</key>
    <string>six.alt1.ss02.glif</string>
    <key>six.alt2</key>
    <string>six.alt2.glif</string>
    <key>six.alt2.ss01</key>
    <string>six.alt2.ss01.glif</string>
    <key>six.alt2.ss02</key>
    <string>six.alt2.ss02.glif</string>
    <key>six.ss01</key>
    <string>six.ss01.glif</string>
    <key>six.ss02</key>
    <string>six.ss02.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>space.ss01</key>
    <string>space.ss01.glif</string>
    <key>space.ss02</key>
    <string>space.ss02.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.alt1</key>
    <string>t.alt1.glif</string>
    <key>t.alt1.ss01</key>
    <string>t.alt1.ss01.glif</string>
    <key>t.alt1.ss02</key>
    <string>t.alt1.ss02.glif</string>
    <key>t.alt2</key>
    <string>t.alt2.glif</string>
    <key>t.alt2.ss01</key>
    <string>t.alt2.ss01.glif</string>
    <key>t.alt2.ss02</key>
    <string>t.alt2.ss02.glif</string>
    <key>t.alt3</key>
    <string>t.alt3.glif</string>
    <key>t.alt3.ss01</key>
    <string>t.alt3.ss01.glif</string>
    <key>t.alt3.ss02</key>
    <string>t.alt3.ss02.glif</string>
    <key>t.alt4</key>
    <string>t.alt4.glif</string>
    <key>t.alt4.ss01</key>
    <string>t.alt4.ss01.glif</string>
    <key>t.alt4.ss02</key>
    <string>t.alt4.ss02.glif</string>
    <key>t.ss01</key>
    <string>t.ss01.glif</string>
    <key>t.ss02</key>
    <string>t.ss02.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.alt1</key>
    <string>three.alt1.glif</string>
    <key>three.alt1.ss01</key>
    <string>three.alt1.ss01.glif</string>
    <key>three.alt1.ss02</key>
    <string>three.alt1.ss02.glif</string>
    <key>three.alt2</key>
    <string>three.alt2.glif</string>
    <key>three.alt2.ss01</key>
    <string>three.alt2.ss01.glif</string>
    <key>three.alt2.ss02</key>
    <string>three.alt2.ss02.glif</string>
    <key>three.alt3</key>
    <string>three.alt3.glif</string>
    <key>three.alt3.ss01</key>
    <string>three.alt3.ss01.glif</string>
    <key>three.alt3.ss02</key>
    <string>three.alt3.ss02.glif</string>
    <key>three.alt4</key>
    <string>three.alt4.glif</string>
    <key>three.alt4.ss01</key>
    <string>three.alt4.ss01.glif</string>
    <key>three.alt4.ss02</key>
    <string>three.alt4.ss02.glif</string>
    <key>three.ss01</key>
    <string>three.ss01.glif</string>
    <key>three.ss02</key>
    <string>three.ss02.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.alt1</key>
    <string>two.alt1.glif</string>
    <key>two.alt1.ss01</key>
    <string>two.alt1.ss01.glif</string>
    <key>two.alt1.ss02</key>
    <string>two.alt1.ss02.glif</string>
    <key>two.alt2</key>
    <string>two.alt2.glif</string>
    <key>two.alt2.ss01</key>
    <string>two.alt2.ss01.glif</string>
    <key>two.alt2.ss02</key>
    <string>two.alt2.ss02.glif</string>
    <key>two.alt3</key>
    <string>two.alt3.glif</string>
    <key>two.alt3.ss01</key>
    <string>two.alt3.ss01.glif</string>
    <key>two.alt3.ss02</key>
    <string>two.alt3.ss02.glif</string>
    <key>two.alt4</key>
    <string>two.alt4.glif</string>
    <key>two.alt4.ss01</key>
    <string>two.alt4.ss01.glif</string>
    <key>two.alt4.ss02</key>
    <string>two.alt4.ss02.glif</string>
    <key>two.alt5</key>
    <string>two.alt5.glif</string>
    <key>two.alt5.ss01</key>
    <string>two.alt5.ss01.glif</string>
    <key>two.alt5.ss02</key>
    <string>two.alt5.ss02.glif</string>
    <key>two.alt6</key>
    <string>two.alt6.glif</string>
    <key>two.alt6.ss01</key>
    <string>two.alt6.ss01.glif</string>
    <key>two.alt6.ss02</key>
    <string>two.alt6.ss02.glif</string>
    <key>two.alt7</key>
    <string>two.alt7.glif</string>
    <key>two.alt7.ss01</key>
    <string>two.alt7.ss01.glif</string>
    <key>two.alt7.ss02</key>
    <string>two.alt7.ss02.glif</string>
    <key>two.alt8</key>
    <string>two.alt8.glif</string>
    <key>two.alt8.ss01</key>
    <string>two.alt8.ss01.glif</string>
    <key>two.alt8.ss02</key>
    <string>two.alt8.ss02.glif</string>
    <key>two.alt9</key>
    <string>two.alt9.glif</string>
    <key>two.alt9.ss01</key>
    <string>two.alt9.ss01.glif</string>
    <key>two.alt9.ss02</key>
    <string>two.alt9.ss02.glif</string>
    <key>two.ss01</key>
    <string>two.ss01.glif</string>
    <key>two.ss02</key>
    <string>two.ss02.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.alt1</key>
    <string>u.alt1.glif</string>
    <key>u.alt1.ss01</key>
    <string>u.alt1.ss01.glif</string>
    <key>u.alt1.ss02</key>
    <string>u.alt1.ss02.glif</string>
    <key>u.alt2</key>
    <string>u.alt2.glif</string>
    <key>u.alt2.ss01</key>
    <string>u.alt2.ss01.glif</string>
    <key>u.alt2.ss02</key>
    <string>u.alt2.ss02.glif</string>
    <key>u.alt3</key>
    <string>u.alt3.glif</string>
    <key>u.alt3.ss01</key>
    <string>u.alt3.ss01.glif</string>
    <key>u.alt3.ss02</key>
    <string>u.alt3.ss02.glif</string>
    <key>u.ss01</key>
    <string>u.ss01.glif</string>
    <key>u.ss02</key>
    <string>u.ss02.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>uacute.ss01</key>
    <string>uacute.ss01.glif</string>
    <key>uacute.ss02</key>
    <string>uacute.ss02.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>ugrave.ss01</key>
    <string>ugrave.ss01.glif</string>
    <key>ugrave.ss02</key>
    <string>ugrave.ss02.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v.alt1</key>
    <string>v.alt1.glif</string>
    <key>v.alt1.ss01</key>
    <string>v.alt1.ss01.glif</string>
    <key>v.alt1.ss02</key>
    <string>v.alt1.ss02.glif</string>
    <key>v.alt2</key>
    <string>v.alt2.glif</string>
    <key>v.alt2.ss01</key>
    <string>v.alt2.ss01.glif</string>
    <key>v.alt2.ss02</key>
    <string>v.alt2.ss02.glif</string>
    <key>v.alt3</key>
    <string>v.alt3.glif</string>
    <key>v.alt3.ss01</key>
    <string>v.alt3.ss01.glif</string>
    <key>v.alt3.ss02</key>
    <string>v.alt3.ss02.glif</string>
    <key>v.ss01</key>
    <string>v.ss01.glif</string>
    <key>v.ss02</key>
    <string>v.ss02.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.alt1</key>
    <string>w.alt1.glif</string>
    <key>w.alt1.ss01</key>
    <string>w.alt1.ss01.glif</string>
    <key>w.alt1.ss02</key>
    <string>w.alt1.ss02.glif</string>
    <key>w.alt2</key>
    <string>w.alt2.glif</string>
    <key>w.alt2.ss01</key>
    <string>w.alt2.ss01.glif</string>
    <key>w.alt2.ss02</key>
    <string>w.alt2.ss02.glif</string>
    <key>w.alt3</key>
    <string>w.alt3.glif</string>
    <key>w.alt3.ss01</key>
    <string>w.alt3.ss01.glif</string>
    <key>w.alt3.ss02</key>
    <string>w.alt3.ss02.glif</string>
    <key>w.ss01</key>
    <string>w.ss01.glif</string>
    <key>w.ss02</key>
    <string>w.ss02.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x.alt1</key>
    <string>x.alt1.glif</string>
    <key>x.alt1.ss01</key>
    <string>x.alt1.ss01.glif</string>
    <key>x.alt1.ss02</key>
    <string>x.alt1.ss02.glif</string>
    <key>x.alt2</key>
    <string>x.alt2.glif</string>
    <key>x.alt2.ss01</key>
    <string>x.alt2.ss01.glif</string>
    <key>x.alt2.ss02</key>
    <string>x.alt2.ss02.glif</string>
    <key>x.ss01</key>
    <string>x.ss01.glif</string>
    <key>x.ss02</key>
    <string>x.ss02.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.alt1</key>
    <string>y.alt1.glif</string>
    <key>y.alt1.ss01</key>
    <string>y.alt1.ss01.glif</string>
    <key>y.alt1.ss02</key>
    <string>y.alt1.ss02.glif</string>
    <key>y.alt2</key>
    <string>y.alt2.glif</string>
    <key>y.alt2.ss01</key>
    <string>y.alt2.ss01.glif</string>
    <key>y.alt2.ss02</key>
    <string>y.alt2.ss02.glif</string>
    <key>y.alt3</key>
    <string>y.alt3.glif</string>
    <key>y.alt3.ss01</key>
    <string>y.alt3.ss01.glif</string>
    <key>y.alt3.ss02</key>
    <string>y.alt3.ss02.glif</string>
    <key>y.ss01</key>
    <string>y.ss01.glif</string>
    <key>y.ss02</key>
    <string>y.ss02.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z.alt1</key>
    <string>z.alt1.glif</string>
    <key>z.alt1.ss01</key>
    <string>z.alt1.ss01.glif</string>
    <key>z.alt1.ss02</key>
    <string>z.alt1.ss02.glif</string>
    <key>z.alt2</key>
    <string>z.alt2.glif</string>
    <key>z.alt2.ss01</key>
    <string>z.alt2.ss01.glif</string>
    <key>z.alt2.ss02</key>
    <string>z.alt2.ss02.glif</string>
    <key>z.alt3</key>
    <string>z.alt3.glif</string>
    <key>z.alt3.ss01</key>
    <string>z.alt3.ss01.glif</string>
    <key>z.alt3.ss02</key>
    <string>z.alt3.ss02.glif</string>
    <key>z.ss01</key>
    <string>z.ss01.glif</string>
    <key>z.ss02</key>
    <string>z.ss02.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.alt1</key>
    <string>zero.alt1.glif</string>
    <key>zero.alt1.ss01</key>
    <string>zero.alt1.ss01.glif</string>
    <key>zero.alt1.ss02</key>
    <string>zero.alt1.ss02.glif</string>
    <key>zero.ss01</key>
    <string>zero.ss01.glif</string>
    <key>zero.ss02</key>
    <string>zero.ss02.glif</string>
  </dict>
</plist>
