<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.alt1</key>
    <string>A_.alt1.glif</string>
    <key>A.alt2</key>
    <string>A_.alt2.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Aacute.alt1</key>
    <string>A_acute.alt1.glif</string>
    <key>Aacute.alt2</key>
    <string>A_acute.alt2.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Agrave.alt1</key>
    <string>A_grave.alt1.glif</string>
    <key>Agrave.alt2</key>
    <string>A_grave.alt2.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.alt1</key>
    <string>B_.alt1.glif</string>
    <key>B.alt2</key>
    <string>B_.alt2.glif</string>
    <key>B.alt3</key>
    <string>B_.alt3.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.alt1</key>
    <string>C_.alt1.glif</string>
    <key>C.alt2</key>
    <string>C_.alt2.glif</string>
    <key>C.alt3</key>
    <string>C_.alt3.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.alt1</key>
    <string>D_.alt1.glif</string>
    <key>D.alt2</key>
    <string>D_.alt2.glif</string>
    <key>D.alt3</key>
    <string>D_.alt3.glif</string>
    <key>D.alt4</key>
    <string>D_.alt4.glif</string>
    <key>D.alt5</key>
    <string>D_.alt5.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.alt1</key>
    <string>E_.alt1.glif</string>
    <key>E.alt2</key>
    <string>E_.alt2.glif</string>
    <key>E.alt3</key>
    <string>E_.alt3.glif</string>
    <key>E.alt4</key>
    <string>E_.alt4.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.alt1</key>
    <string>F_.alt1.glif</string>
    <key>F.alt2</key>
    <string>F_.alt2.glif</string>
    <key>F.alt3</key>
    <string>F_.alt3.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.alt1</key>
    <string>G_.alt1.glif</string>
    <key>G.alt2</key>
    <string>G_.alt2.glif</string>
    <key>G.alt3</key>
    <string>G_.alt3.glif</string>
    <key>G.alt4</key>
    <string>G_.alt4.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.alt1</key>
    <string>H_.alt1.glif</string>
    <key>H.alt2</key>
    <string>H_.alt2.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.alt1</key>
    <string>I_.alt1.glif</string>
    <key>I.alt2</key>
    <string>I_.alt2.glif</string>
    <key>I.alt3</key>
    <string>I_.alt3.glif</string>
    <key>I.alt4</key>
    <string>I_.alt4.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.alt1</key>
    <string>J_.alt1.glif</string>
    <key>J.alt2</key>
    <string>J_.alt2.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.alt1</key>
    <string>K_.alt1.glif</string>
    <key>K.alt2</key>
    <string>K_.alt2.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.alt1</key>
    <string>L_.alt1.glif</string>
    <key>L.alt2</key>
    <string>L_.alt2.glif</string>
    <key>L.alt3</key>
    <string>L_.alt3.glif</string>
    <key>L.alt4</key>
    <string>L_.alt4.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.alt1</key>
    <string>M_.alt1.glif</string>
    <key>M.alt2</key>
    <string>M_.alt2.glif</string>
    <key>M.alt3</key>
    <string>M_.alt3.glif</string>
    <key>M.alt4</key>
    <string>M_.alt4.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.alt1</key>
    <string>N_.alt1.glif</string>
    <key>N.alt2</key>
    <string>N_.alt2.glif</string>
    <key>N.alt3</key>
    <string>N_.alt3.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.alt1</key>
    <string>O_.alt1.glif</string>
    <key>O.alt2</key>
    <string>O_.alt2.glif</string>
    <key>O.alt3</key>
    <string>O_.alt3.glif</string>
    <key>O.alt4</key>
    <string>O_.alt4.glif</string>
    <key>O.alt5</key>
    <string>O_.alt5.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.alt1</key>
    <string>P_.alt1.glif</string>
    <key>P.alt2</key>
    <string>P_.alt2.glif</string>
    <key>P.alt3</key>
    <string>P_.alt3.glif</string>
    <key>P.alt4</key>
    <string>P_.alt4.glif</string>
    <key>P.alt5</key>
    <string>P_.alt5.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.alt1</key>
    <string>Q_.alt1.glif</string>
    <key>Q.alt2</key>
    <string>Q_.alt2.glif</string>
    <key>Q.alt3</key>
    <string>Q_.alt3.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.alt1</key>
    <string>R_.alt1.glif</string>
    <key>R.alt2</key>
    <string>R_.alt2.glif</string>
    <key>R.alt3</key>
    <string>R_.alt3.glif</string>
    <key>R.alt4</key>
    <string>R_.alt4.glif</string>
    <key>R.alt5</key>
    <string>R_.alt5.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.alt1</key>
    <string>S_.alt1.glif</string>
    <key>S.alt2</key>
    <string>S_.alt2.glif</string>
    <key>S.alt3</key>
    <string>S_.alt3.glif</string>
    <key>S.alt4</key>
    <string>S_.alt4.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.alt1</key>
    <string>T_.alt1.glif</string>
    <key>T.alt2</key>
    <string>T_.alt2.glif</string>
    <key>T.alt3</key>
    <string>T_.alt3.glif</string>
    <key>T.alt4</key>
    <string>T_.alt4.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.alt1</key>
    <string>U_.alt1.glif</string>
    <key>U.alt2</key>
    <string>U_.alt2.glif</string>
    <key>U.alt3</key>
    <string>U_.alt3.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V.alt1</key>
    <string>V_.alt1.glif</string>
    <key>V.alt2</key>
    <string>V_.alt2.glif</string>
    <key>V.alt3</key>
    <string>V_.alt3.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.alt1</key>
    <string>W_.alt1.glif</string>
    <key>W.alt2</key>
    <string>W_.alt2.glif</string>
    <key>W.alt3</key>
    <string>W_.alt3.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X.alt1</key>
    <string>X_.alt1.glif</string>
    <key>X.alt2</key>
    <string>X_.alt2.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.alt1</key>
    <string>Y_.alt1.glif</string>
    <key>Y.alt2</key>
    <string>Y_.alt2.glif</string>
    <key>Y.alt3</key>
    <string>Y_.alt3.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Z.alt1</key>
    <string>Z_.alt1.glif</string>
    <key>Z.alt2</key>
    <string>Z_.alt2.glif</string>
    <key>Z.alt3</key>
    <string>Z_.alt3.glif</string>
    <key>arrowdown</key>
    <string>arrowdown.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.alt1</key>
    <string>eight.alt1.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.alt1</key>
    <string>five.alt1.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.alt1</key>
    <string>four.alt1.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.alt1</key>
    <string>nine.alt1.glif</string>
    <key>nine.alt2</key>
    <string>nine.alt2.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.alt1</key>
    <string>one.alt1.glif</string>
    <key>one.alt2</key>
    <string>one.alt2.glif</string>
    <key>one.alt3</key>
    <string>one.alt3.glif</string>
    <key>one.alt4</key>
    <string>one.alt4.glif</string>
    <key>one.alt5</key>
    <string>one.alt5.glif</string>
    <key>one.alt6</key>
    <string>one.alt6.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.alt1</key>
    <string>seven.alt1.glif</string>
    <key>seven.alt2</key>
    <string>seven.alt2.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.alt1</key>
    <string>six.alt1.glif</string>
    <key>six.alt2</key>
    <string>six.alt2.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.alt1</key>
    <string>three.alt1.glif</string>
    <key>three.alt2</key>
    <string>three.alt2.glif</string>
    <key>three.alt3</key>
    <string>three.alt3.glif</string>
    <key>three.alt4</key>
    <string>three.alt4.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.alt1</key>
    <string>two.alt1.glif</string>
    <key>two.alt2</key>
    <string>two.alt2.glif</string>
    <key>two.alt3</key>
    <string>two.alt3.glif</string>
    <key>two.alt4</key>
    <string>two.alt4.glif</string>
    <key>two.alt5</key>
    <string>two.alt5.glif</string>
    <key>two.alt6</key>
    <string>two.alt6.glif</string>
    <key>two.alt7</key>
    <string>two.alt7.glif</string>
    <key>two.alt8</key>
    <string>two.alt8.glif</string>
    <key>two.alt9</key>
    <string>two.alt9.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.alt1</key>
    <string>zero.alt1.glif</string>
  </dict>
</plist>
