<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>0A</key>
    <string>0A_.glif</string>
    <key>0B</key>
    <string>0B_.glif</string>
    <key>0C</key>
    <string>0C_.glif</string>
    <key>0D</key>
    <string>0D_.glif</string>
    <key>0E</key>
    <string>0E_.glif</string>
    <key>0F</key>
    <string>0F_.glif</string>
    <key>0G</key>
    <string>0G_.glif</string>
    <key>0H</key>
    <string>0H_.glif</string>
    <key>0I</key>
    <string>0I_.glif</string>
    <key>0L</key>
    <string>0L_.glif</string>
    <key>0M</key>
    <string>0M_.glif</string>
    <key>0N</key>
    <string>0N_.glif</string>
    <key>0O</key>
    <string>0O_.glif</string>
    <key>0P</key>
    <string>0P_.glif</string>
    <key>1A</key>
    <string>1A_.glif</string>
    <key>1B</key>
    <string>1B_.glif</string>
    <key>1C</key>
    <string>1C_.glif</string>
    <key>1D</key>
    <string>1D_.glif</string>
    <key>1E</key>
    <string>1E_.glif</string>
    <key>1F</key>
    <string>1F_.glif</string>
    <key>1G</key>
    <string>1G_.glif</string>
    <key>1H</key>
    <string>1H_.glif</string>
    <key>1I</key>
    <string>1I_.glif</string>
    <key>1L</key>
    <string>1L_.glif</string>
    <key>1M</key>
    <string>1M_.glif</string>
    <key>1N</key>
    <string>1N_.glif</string>
    <key>1O</key>
    <string>1O_.glif</string>
    <key>1P</key>
    <string>1P_.glif</string>
    <key>2A</key>
    <string>2A_.glif</string>
    <key>2B</key>
    <string>2B_.glif</string>
    <key>2C</key>
    <string>2C_.glif</string>
    <key>2D</key>
    <string>2D_.glif</string>
    <key>2E</key>
    <string>2E_.glif</string>
    <key>2F</key>
    <string>2F_.glif</string>
    <key>2G</key>
    <string>2G_.glif</string>
    <key>2H</key>
    <string>2H_.glif</string>
    <key>2I</key>
    <string>2I_.glif</string>
    <key>2L</key>
    <string>2L_.glif</string>
    <key>2M</key>
    <string>2M_.glif</string>
    <key>2N</key>
    <string>2N_.glif</string>
    <key>2O</key>
    <string>2O_.glif</string>
    <key>2P</key>
    <string>2P_.glif</string>
    <key>3A</key>
    <string>3A_.glif</string>
    <key>3B</key>
    <string>3B_.glif</string>
    <key>3C</key>
    <string>3C_.glif</string>
    <key>3D</key>
    <string>3D_.glif</string>
    <key>3F</key>
    <string>3F_.glif</string>
    <key>3G</key>
    <string>3G_.glif</string>
    <key>3H</key>
    <string>3H_.glif</string>
    <key>3I</key>
    <string>3I_.glif</string>
    <key>3L</key>
    <string>3L_.glif</string>
    <key>3M</key>
    <string>3M_.glif</string>
    <key>3N</key>
    <string>3N_.glif</string>
    <key>3O</key>
    <string>3O_.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.patt</key>
    <string>a.patt.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>arrowdown</key>
    <string>arrowdown.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.onum</key>
    <string>eight.onum.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.onum</key>
    <string>five.onum.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.onum</key>
    <string>four.onum.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.onum</key>
    <string>nine.onum.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o-special</key>
    <string>o-special.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.onum</key>
    <string>one.onum.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>patternA1</key>
    <string>patternA_1.glif</string>
    <key>patternA2</key>
    <string>patternA_2.glif</string>
    <key>patternA3</key>
    <string>patternA_3.glif</string>
    <key>patternA4</key>
    <string>patternA_4.glif</string>
    <key>patternA5</key>
    <string>patternA_5.glif</string>
    <key>patternA6</key>
    <string>patternA_6.glif</string>
    <key>patternA7</key>
    <string>patternA_7.glif</string>
    <key>patternB1</key>
    <string>patternB_1.glif</string>
    <key>patternB10</key>
    <string>patternB_10.glif</string>
    <key>patternB2</key>
    <string>patternB_2.glif</string>
    <key>patternB3</key>
    <string>patternB_3.glif</string>
    <key>patternB4</key>
    <string>patternB_4.glif</string>
    <key>patternB5</key>
    <string>patternB_5.glif</string>
    <key>patternB6</key>
    <string>patternB_6.glif</string>
    <key>patternB7</key>
    <string>patternB_7.glif</string>
    <key>patternB8</key>
    <string>patternB_8.glif</string>
    <key>patternB9</key>
    <string>patternB_9.glif</string>
    <key>patternC1</key>
    <string>patternC_1.glif</string>
    <key>patternC2</key>
    <string>patternC_2.glif</string>
    <key>patternC3</key>
    <string>patternC_3.glif</string>
    <key>patternC4</key>
    <string>patternC_4.glif</string>
    <key>patternC5</key>
    <string>patternC_5.glif</string>
    <key>patternC6</key>
    <string>patternC_6.glif</string>
    <key>patternD1</key>
    <string>patternD_1.glif</string>
    <key>patternD2</key>
    <string>patternD_2.glif</string>
    <key>patternE1</key>
    <string>patternE_1.glif</string>
    <key>patternE2</key>
    <string>patternE_2.glif</string>
    <key>patternF1</key>
    <string>patternF_1.glif</string>
    <key>patternF2</key>
    <string>patternF_2.glif</string>
    <key>patternG1</key>
    <string>patternG_1.glif</string>
    <key>patternG2</key>
    <string>patternG_2.glif</string>
    <key>patternH1</key>
    <string>patternH_1.glif</string>
    <key>patternH2</key>
    <string>patternH_2.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotebdl</key>
    <string>quotebdl.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.patt</key>
    <string>s.patt.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.onum</key>
    <string>seven.onum.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.onum</key>
    <string>six.onum.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.onum</key>
    <string>three.onum.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.onum</key>
    <string>two.onum.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni2196</key>
    <string>uni2196.glif</string>
    <key>uni2197</key>
    <string>uni2197.glif</string>
    <key>uni2198</key>
    <string>uni2198.glif</string>
    <key>uni2199</key>
    <string>uni2199.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.onum</key>
    <string>zero.onum.glif</string>
  </dict>
</plist>
