<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>1C</string>
      <string>0G</string>
      <string>2O</string>
      <string>0P</string>
      <string>2N</string>
      <string>0F</string>
      <string>1B</string>
      <string>0D</string>
      <string>3H</string>
      <string>2L</string>
      <string>2M</string>
      <string>3I</string>
      <string>1A</string>
      <string>0E</string>
      <string>3M</string>
      <string>2I</string>
      <string>0A</string>
      <string>1E</string>
      <string>1D</string>
      <string>2H</string>
      <string>3L</string>
      <string>3N</string>
      <string>1F</string>
      <string>0B</string>
      <string>0C</string>
      <string>1G</string>
      <string>3O</string>
      <string>1P</string>
      <string>3B</string>
      <string>2F</string>
      <string>0N</string>
      <string>2P</string>
      <string>0O</string>
      <string>2G</string>
      <string>3C</string>
      <string>2E</string>
      <string>3A</string>
      <string>1I</string>
      <string>0M</string>
      <string>0L</string>
      <string>1H</string>
      <string>2D</string>
      <string>1L</string>
      <string>0H</string>
      <string>3D</string>
      <string>2A</string>
      <string>0I</string>
      <string>1M</string>
      <string>1O</string>
      <string>3G</string>
      <string>2C</string>
      <string>2B</string>
      <string>3F</string>
      <string>1N</string>
      <string>patternC5</string>
      <string>patternB1</string>
      <string>patternC4</string>
      <string>patternB2</string>
      <string>patternC6</string>
      <string>patternB3</string>
      <string>patternB7</string>
      <string>patternC3</string>
      <string>patternC2</string>
      <string>patternB6</string>
      <string>patternB4</string>
      <string>patternB5</string>
      <string>patternC1</string>
      <string>patternD2</string>
      <string>patternH1</string>
      <string>patternD1</string>
      <string>patternH2</string>
      <string>patternE1</string>
      <string>patternE2</string>
      <string>patternF2</string>
      <string>patternF1</string>
      <string>patternG1</string>
      <string>patternG2</string>
      <string>patternA4</string>
      <string>patternB8</string>
      <string>patternB9</string>
      <string>patternA5</string>
      <string>patternA7</string>
      <string>patternA6</string>
      <string>patternA2</string>
      <string>patternA3</string>
      <string>patternB10</string>
      <string>patternA1</string>
      <string>a.patt</string>
      <string>s.patt</string>
      <string>space</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>gravecomb</string>
      <string>uni2199</string>
      <string>arrowdown</string>
      <string>uni2198</string>
      <string>arrowright</string>
      <string>arrowleft</string>
      <string>uni2196</string>
      <string>arrowup</string>
      <string>uni2197</string>
      <string>ampersand</string>
      <string>degree</string>
      <string>at</string>
      <string>equal</string>
      <string>plus</string>
      <string>percent</string>
      <string>dollar</string>
      <string>Euro</string>
      <string>cent</string>
      <string>yen</string>
      <string>six.onum</string>
      <string>nine.onum</string>
      <string>four.onum</string>
      <string>three.onum</string>
      <string>one.onum</string>
      <string>zero.onum</string>
      <string>seven.onum</string>
      <string>eight.onum</string>
      <string>two.onum</string>
      <string>five.onum</string>
      <string>six</string>
      <string>two</string>
      <string>four</string>
      <string>zero</string>
      <string>three</string>
      <string>seven</string>
      <string>nine</string>
      <string>eight</string>
      <string>one</string>
      <string>five</string>
      <string>W</string>
      <string>B</string>
      <string>N</string>
      <string>O</string>
      <string>Z</string>
      <string>C</string>
      <string>V</string>
      <string>H</string>
      <string>Q</string>
      <string>D</string>
      <string>E</string>
      <string>P</string>
      <string>I</string>
      <string>J</string>
      <string>F</string>
      <string>S</string>
      <string>R</string>
      <string>G</string>
      <string>K</string>
      <string>U</string>
      <string>L</string>
      <string>Y</string>
      <string>X</string>
      <string>M</string>
      <string>T</string>
      <string>A</string>
      <string>quoteright</string>
      <string>quoteleft</string>
      <string>exclam</string>
      <string>colon</string>
      <string>numbersign</string>
      <string>comma</string>
      <string>slash</string>
      <string>question</string>
      <string>semicolon</string>
      <string>period</string>
      <string>asterisk</string>
      <string>backslash</string>
      <string>quotebdl</string>
      <string>quotesingle</string>
      <string>emdash</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>braceright</string>
      <string>bracketright</string>
      <string>parenright</string>
      <string>parenleft</string>
      <string>j</string>
      <string>k</string>
      <string>i</string>
      <string>h</string>
      <string>l</string>
      <string>z</string>
      <string>m</string>
      <string>o</string>
      <string>x</string>
      <string>y</string>
      <string>n</string>
      <string>c</string>
      <string>t</string>
      <string>u</string>
      <string>b</string>
      <string>w</string>
      <string>v</string>
      <string>a</string>
      <string>r</string>
      <string>e</string>
      <string>o-special</string>
      <string>d</string>
      <string>s</string>
      <string>q</string>
      <string>f</string>
      <string>g</string>
      <string>p</string>
    </array>
  </dict>
</plist>
