<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>a.alt1</string>
      <string>a.alt1.ss01</string>
      <string>a.alt1.ss02</string>
      <string>a.alt2</string>
      <string>a.alt2.ss01</string>
      <string>a.alt2.ss02</string>
      <string>a</string>
      <string>a.ss01</string>
      <string>a.ss02</string>
      <string>aacute</string>
      <string>aacute.ss01</string>
      <string>aacute.ss02</string>
      <string>agrave</string>
      <string>agrave.ss01</string>
      <string>agrave.ss02</string>
      <string>b.alt1</string>
      <string>b.alt1.ss01</string>
      <string>b.alt1.ss02</string>
      <string>b.alt2</string>
      <string>b.alt2.ss01</string>
      <string>b.alt2.ss02</string>
      <string>b.alt3</string>
      <string>b.alt3.ss01</string>
      <string>b.alt3.ss02</string>
      <string>b</string>
      <string>b.ss01</string>
      <string>b.ss02</string>
      <string>c.alt1</string>
      <string>c.alt1.ss01</string>
      <string>c.alt1.ss02</string>
      <string>c.alt2</string>
      <string>c.alt2.ss01</string>
      <string>c.alt2.ss02</string>
      <string>c.alt3</string>
      <string>c.alt3.ss01</string>
      <string>c.alt3.ss02</string>
      <string>c</string>
      <string>c.ss01</string>
      <string>c.ss02</string>
      <string>d.alt1</string>
      <string>d.alt1.ss01</string>
      <string>d.alt1.ss02</string>
      <string>d.alt2</string>
      <string>d.alt2.ss01</string>
      <string>d.alt2.ss02</string>
      <string>d.alt3</string>
      <string>d.alt3.ss01</string>
      <string>d.alt3.ss02</string>
      <string>d.alt4</string>
      <string>d.alt4.ss01</string>
      <string>d.alt4.ss02</string>
      <string>d.alt5</string>
      <string>d.alt5.ss01</string>
      <string>d.alt5.ss02</string>
      <string>d</string>
      <string>d.ss01</string>
      <string>d.ss02</string>
      <string>e.alt1</string>
      <string>e.alt1.ss01</string>
      <string>e.alt1.ss02</string>
      <string>e.alt2</string>
      <string>e.alt2.ss01</string>
      <string>e.alt2.ss02</string>
      <string>e.alt3</string>
      <string>e.alt3.ss01</string>
      <string>e.alt3.ss02</string>
      <string>e.alt4</string>
      <string>e.alt4.ss01</string>
      <string>e.alt4.ss02</string>
      <string>e</string>
      <string>e.ss01</string>
      <string>e.ss02</string>
      <string>eacute</string>
      <string>eacute.ss01</string>
      <string>eacute.ss02</string>
      <string>egrave</string>
      <string>egrave.ss01</string>
      <string>egrave.ss02</string>
      <string>f.alt1</string>
      <string>f.alt1.ss01</string>
      <string>f.alt1.ss02</string>
      <string>f.alt2</string>
      <string>f.alt2.ss01</string>
      <string>f.alt2.ss02</string>
      <string>f.alt3</string>
      <string>f.alt3.ss01</string>
      <string>f.alt3.ss02</string>
      <string>f</string>
      <string>f.ss01</string>
      <string>f.ss02</string>
      <string>g.alt1</string>
      <string>g.alt1.ss01</string>
      <string>g.alt1.ss02</string>
      <string>g.alt2</string>
      <string>g.alt2.ss01</string>
      <string>g.alt2.ss02</string>
      <string>g.alt3</string>
      <string>g.alt3.ss01</string>
      <string>g.alt3.ss02</string>
      <string>g.alt4</string>
      <string>g.alt4.ss01</string>
      <string>g.alt4.ss02</string>
      <string>g</string>
      <string>g.ss01</string>
      <string>g.ss02</string>
      <string>h.alt1</string>
      <string>h.alt1.ss01</string>
      <string>h.alt1.ss02</string>
      <string>h.alt2</string>
      <string>h.alt2.ss01</string>
      <string>h.alt2.ss02</string>
      <string>h</string>
      <string>h.ss01</string>
      <string>h.ss02</string>
      <string>i.alt1</string>
      <string>i.alt1.ss01</string>
      <string>i.alt1.ss02</string>
      <string>i.alt2</string>
      <string>i.alt2.ss01</string>
      <string>i.alt2.ss02</string>
      <string>i.alt3</string>
      <string>i.alt3.ss01</string>
      <string>i.alt3.ss02</string>
      <string>i.alt4</string>
      <string>i.alt4.ss01</string>
      <string>i.alt4.ss02</string>
      <string>i</string>
      <string>i.ss01</string>
      <string>i.ss02</string>
      <string>iacute</string>
      <string>iacute.ss01</string>
      <string>iacute.ss02</string>
      <string>igrave</string>
      <string>igrave.ss01</string>
      <string>igrave.ss02</string>
      <string>j.alt1</string>
      <string>j.alt1.ss01</string>
      <string>j.alt1.ss02</string>
      <string>j.alt2</string>
      <string>j.alt2.ss01</string>
      <string>j.alt2.ss02</string>
      <string>j</string>
      <string>j.ss01</string>
      <string>j.ss02</string>
      <string>k.alt1</string>
      <string>k.alt1.ss01</string>
      <string>k.alt1.ss02</string>
      <string>k.alt2</string>
      <string>k.alt2.ss01</string>
      <string>k.alt2.ss02</string>
      <string>k</string>
      <string>k.ss01</string>
      <string>k.ss02</string>
      <string>l.alt1</string>
      <string>l.alt1.ss01</string>
      <string>l.alt1.ss02</string>
      <string>l.alt2</string>
      <string>l.alt2.ss01</string>
      <string>l.alt2.ss02</string>
      <string>l.alt3</string>
      <string>l.alt3.ss01</string>
      <string>l.alt3.ss02</string>
      <string>l.alt4</string>
      <string>l.alt4.ss01</string>
      <string>l.alt4.ss02</string>
      <string>l</string>
      <string>l.ss01</string>
      <string>l.ss02</string>
      <string>m.alt1</string>
      <string>m.alt1.ss01</string>
      <string>m.alt1.ss02</string>
      <string>m.alt2</string>
      <string>m.alt2.ss01</string>
      <string>m.alt2.ss02</string>
      <string>m.alt3</string>
      <string>m.alt3.ss01</string>
      <string>m.alt3.ss02</string>
      <string>m.alt4</string>
      <string>m.alt4.ss01</string>
      <string>m.alt4.ss02</string>
      <string>m</string>
      <string>m.ss01</string>
      <string>m.ss02</string>
      <string>n.alt1</string>
      <string>n.alt1.ss01</string>
      <string>n.alt1.ss02</string>
      <string>n.alt2</string>
      <string>n.alt2.ss01</string>
      <string>n.alt2.ss02</string>
      <string>n.alt3</string>
      <string>n.alt3.ss01</string>
      <string>n.alt3.ss02</string>
      <string>n</string>
      <string>n.ss01</string>
      <string>n.ss02</string>
      <string>o.alt1</string>
      <string>o.alt1.ss01</string>
      <string>o.alt1.ss02</string>
      <string>o.alt2</string>
      <string>o.alt2.ss01</string>
      <string>o.alt2.ss02</string>
      <string>o.alt3</string>
      <string>o.alt3.ss01</string>
      <string>o.alt3.ss02</string>
      <string>o.alt4</string>
      <string>o.alt4.ss01</string>
      <string>o.alt4.ss02</string>
      <string>o.alt5</string>
      <string>o.alt5.ss01</string>
      <string>o.alt5.ss02</string>
      <string>o</string>
      <string>o.ss01</string>
      <string>o.ss02</string>
      <string>oacute</string>
      <string>oacute.ss01</string>
      <string>oacute.ss02</string>
      <string>ograve</string>
      <string>ograve.ss01</string>
      <string>ograve.ss02</string>
      <string>p.alt1</string>
      <string>p.alt1.ss01</string>
      <string>p.alt1.ss02</string>
      <string>p.alt2</string>
      <string>p.alt2.ss01</string>
      <string>p.alt2.ss02</string>
      <string>p.alt3</string>
      <string>p.alt3.ss01</string>
      <string>p.alt3.ss02</string>
      <string>p.alt4</string>
      <string>p.alt4.ss01</string>
      <string>p.alt4.ss02</string>
      <string>p.alt5</string>
      <string>p.alt5.ss01</string>
      <string>p.alt5.ss02</string>
      <string>p</string>
      <string>p.ss01</string>
      <string>p.ss02</string>
      <string>q.alt1</string>
      <string>q.alt1.ss01</string>
      <string>q.alt1.ss02</string>
      <string>q.alt2</string>
      <string>q.alt2.ss01</string>
      <string>q.alt2.ss02</string>
      <string>q.alt3</string>
      <string>q.alt3.ss01</string>
      <string>q.alt3.ss02</string>
      <string>q</string>
      <string>q.ss01</string>
      <string>q.ss02</string>
      <string>r.alt1</string>
      <string>r.alt1.ss01</string>
      <string>r.alt1.ss02</string>
      <string>r.alt2</string>
      <string>r.alt2.ss01</string>
      <string>r.alt2.ss02</string>
      <string>r.alt3</string>
      <string>r.alt3.ss01</string>
      <string>r.alt3.ss02</string>
      <string>r.alt4</string>
      <string>r.alt4.ss01</string>
      <string>r.alt4.ss02</string>
      <string>r.alt5</string>
      <string>r.alt5.ss01</string>
      <string>r.alt5.ss02</string>
      <string>r</string>
      <string>r.ss01</string>
      <string>r.ss02</string>
      <string>s.alt1</string>
      <string>s.alt1.ss01</string>
      <string>s.alt1.ss02</string>
      <string>s.alt2</string>
      <string>s.alt2.ss01</string>
      <string>s.alt2.ss02</string>
      <string>s.alt3</string>
      <string>s.alt3.ss01</string>
      <string>s.alt3.ss02</string>
      <string>s.alt4</string>
      <string>s.alt4.ss01</string>
      <string>s.alt4.ss02</string>
      <string>s</string>
      <string>s.ss01</string>
      <string>s.ss02</string>
      <string>t.alt1</string>
      <string>t.alt1.ss01</string>
      <string>t.alt1.ss02</string>
      <string>t.alt2</string>
      <string>t.alt2.ss01</string>
      <string>t.alt2.ss02</string>
      <string>t.alt3</string>
      <string>t.alt3.ss01</string>
      <string>t.alt3.ss02</string>
      <string>t.alt4</string>
      <string>t.alt4.ss01</string>
      <string>t.alt4.ss02</string>
      <string>t</string>
      <string>t.ss01</string>
      <string>t.ss02</string>
      <string>u.alt1</string>
      <string>u.alt1.ss01</string>
      <string>u.alt1.ss02</string>
      <string>u.alt2</string>
      <string>u.alt2.ss01</string>
      <string>u.alt2.ss02</string>
      <string>u.alt3</string>
      <string>u.alt3.ss01</string>
      <string>u.alt3.ss02</string>
      <string>u</string>
      <string>u.ss01</string>
      <string>u.ss02</string>
      <string>uacute</string>
      <string>uacute.ss01</string>
      <string>uacute.ss02</string>
      <string>ugrave</string>
      <string>ugrave.ss01</string>
      <string>ugrave.ss02</string>
      <string>v.alt1</string>
      <string>v.alt1.ss01</string>
      <string>v.alt1.ss02</string>
      <string>v.alt2</string>
      <string>v.alt2.ss01</string>
      <string>v.alt2.ss02</string>
      <string>v.alt3</string>
      <string>v.alt3.ss01</string>
      <string>v.alt3.ss02</string>
      <string>v</string>
      <string>v.ss01</string>
      <string>v.ss02</string>
      <string>w.alt1</string>
      <string>w.alt1.ss01</string>
      <string>w.alt1.ss02</string>
      <string>w.alt2</string>
      <string>w.alt2.ss01</string>
      <string>w.alt2.ss02</string>
      <string>w.alt3</string>
      <string>w.alt3.ss01</string>
      <string>w.alt3.ss02</string>
      <string>w</string>
      <string>w.ss01</string>
      <string>w.ss02</string>
      <string>x.alt1</string>
      <string>x.alt1.ss01</string>
      <string>x.alt1.ss02</string>
      <string>x.alt2</string>
      <string>x.alt2.ss01</string>
      <string>x.alt2.ss02</string>
      <string>x</string>
      <string>x.ss01</string>
      <string>x.ss02</string>
      <string>y.alt1</string>
      <string>y.alt1.ss01</string>
      <string>y.alt1.ss02</string>
      <string>y.alt2</string>
      <string>y.alt2.ss01</string>
      <string>y.alt2.ss02</string>
      <string>y.alt3</string>
      <string>y.alt3.ss01</string>
      <string>y.alt3.ss02</string>
      <string>y</string>
      <string>y.ss01</string>
      <string>y.ss02</string>
      <string>z.alt1</string>
      <string>z.alt1.ss01</string>
      <string>z.alt1.ss02</string>
      <string>z.alt2</string>
      <string>z.alt2.ss01</string>
      <string>z.alt2.ss02</string>
      <string>z.alt3</string>
      <string>z.alt3.ss01</string>
      <string>z.alt3.ss02</string>
      <string>z</string>
      <string>z.ss01</string>
      <string>z.ss02</string>
      <string>colon</string>
      <string>colon.ss01</string>
      <string>colon.ss02</string>
      <string>comma</string>
      <string>comma.ss01</string>
      <string>comma.ss02</string>
      <string>exclam</string>
      <string>exclam.ss01</string>
      <string>exclam.ss02</string>
      <string>hyphen</string>
      <string>hyphen.ss01</string>
      <string>hyphen.ss02</string>
      <string>period</string>
      <string>period.ss01</string>
      <string>period.ss02</string>
      <string>question</string>
      <string>question.ss01</string>
      <string>question.ss02</string>
      <string>quotesingle</string>
      <string>quotesingle.ss01</string>
      <string>quotesingle.ss02</string>
      <string>semicolon</string>
      <string>semicolon.ss01</string>
      <string>semicolon.ss02</string>
      <string>space</string>
      <string>space.ss01</string>
      <string>space.ss02</string>
      <string>eight.alt1</string>
      <string>eight.alt1.ss01</string>
      <string>eight.alt1.ss02</string>
      <string>eight</string>
      <string>eight.ss01</string>
      <string>eight.ss02</string>
      <string>five</string>
      <string>five.ss01</string>
      <string>five.ss02</string>
      <string>four.alt1</string>
      <string>four.alt1.ss01</string>
      <string>four.alt1.ss02</string>
      <string>four</string>
      <string>four.ss01</string>
      <string>four.ss02</string>
      <string>nine.alt1</string>
      <string>nine.alt1.ss01</string>
      <string>nine.alt1.ss02</string>
      <string>nine.alt2</string>
      <string>nine.alt2.ss01</string>
      <string>nine.alt2.ss02</string>
      <string>nine</string>
      <string>nine.ss01</string>
      <string>nine.ss02</string>
      <string>one.alt1</string>
      <string>one.alt1.ss01</string>
      <string>one.alt1.ss02</string>
      <string>one.alt2</string>
      <string>one.alt2.ss01</string>
      <string>one.alt2.ss02</string>
      <string>one.alt3</string>
      <string>one.alt3.ss01</string>
      <string>one.alt3.ss02</string>
      <string>one.alt4</string>
      <string>one.alt4.ss01</string>
      <string>one.alt4.ss02</string>
      <string>one.alt5</string>
      <string>one.alt5.ss01</string>
      <string>one.alt5.ss02</string>
      <string>one.alt6</string>
      <string>one.alt6.ss01</string>
      <string>one.alt6.ss02</string>
      <string>one</string>
      <string>one.ss01</string>
      <string>one.ss02</string>
      <string>seven.alt1</string>
      <string>seven.alt1.ss01</string>
      <string>seven.alt1.ss02</string>
      <string>seven.alt2</string>
      <string>seven.alt2.ss01</string>
      <string>seven.alt2.ss02</string>
      <string>seven</string>
      <string>seven.ss01</string>
      <string>seven.ss02</string>
      <string>six.alt1</string>
      <string>six.alt1.ss01</string>
      <string>six.alt1.ss02</string>
      <string>six.alt2</string>
      <string>six.alt2.ss01</string>
      <string>six.alt2.ss02</string>
      <string>six</string>
      <string>six.ss01</string>
      <string>six.ss02</string>
      <string>three.alt1</string>
      <string>three.alt1.ss01</string>
      <string>three.alt1.ss02</string>
      <string>three.alt2</string>
      <string>three.alt2.ss01</string>
      <string>three.alt2.ss02</string>
      <string>three.alt3</string>
      <string>three.alt3.ss01</string>
      <string>three.alt3.ss02</string>
      <string>three.alt4</string>
      <string>three.alt4.ss01</string>
      <string>three.alt4.ss02</string>
      <string>three</string>
      <string>three.ss01</string>
      <string>three.ss02</string>
      <string>two.alt1</string>
      <string>two.alt1.ss01</string>
      <string>two.alt1.ss02</string>
      <string>two.alt2</string>
      <string>two.alt2.ss01</string>
      <string>two.alt2.ss02</string>
      <string>two.alt3</string>
      <string>two.alt3.ss01</string>
      <string>two.alt3.ss02</string>
      <string>two.alt4</string>
      <string>two.alt4.ss01</string>
      <string>two.alt4.ss02</string>
      <string>two.alt5</string>
      <string>two.alt5.ss01</string>
      <string>two.alt5.ss02</string>
      <string>two.alt6</string>
      <string>two.alt6.ss01</string>
      <string>two.alt6.ss02</string>
      <string>two.alt7</string>
      <string>two.alt7.ss01</string>
      <string>two.alt7.ss02</string>
      <string>two.alt8</string>
      <string>two.alt8.ss01</string>
      <string>two.alt8.ss02</string>
      <string>two.alt9</string>
      <string>two.alt9.ss01</string>
      <string>two.alt9.ss02</string>
      <string>two</string>
      <string>two.ss01</string>
      <string>two.ss02</string>
      <string>zero.alt1</string>
      <string>zero.alt1.ss01</string>
      <string>zero.alt1.ss02</string>
      <string>zero</string>
      <string>zero.ss01</string>
      <string>zero.ss02</string>
      <string>arrowdown</string>
      <string>arrowdown.ss01</string>
      <string>arrowdown.ss02</string>
      <string>arrowleft</string>
      <string>arrowleft.ss01</string>
      <string>arrowleft.ss02</string>
      <string>arrowright</string>
      <string>arrowright.ss01</string>
      <string>arrowright.ss02</string>
      <string>arrowup</string>
      <string>arrowup.ss01</string>
      <string>arrowup.ss02</string>
    </array>
  </dict>
</plist>
